#banner
  .banner_content
    %h1 Textapp
    %p your life like pig
    %button= link_to "Sign Up", new_user_registration_path
#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Sed sed efficitur diam. In ultrices pretium pharetra. Vivamus et bibendum ex. Quisque imperdiet erat lorem, in semper augue sodales vitae. Donec vel interdum magna. Sed pulvinar vitae purus sed convallis. Nunc consectetur venenatis arcu, ac bibendum justo rhoncus eu.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join New", new_user_registration_path
